body {
	background-image: url('../images/symphony.png');
	font-family: 'Arial', Times, helvetica, sans-serif;
	margin-left: 20px;
}

#headerbox {
	background: #c06b35;
	color: white;
	font-size: 20px;
	width: 350px;
	height: 100px;
	display: flex;
}

#instructions {
	background: #fbe6cf;
	color: #72a775;
	font-size: 20px;
	width: 500px;
	height: 400px;
}

#randombox {
	background: #67a76a;
	color: purple;
	height: 120px;
	width: 240px;
	font-size: 35px;
	text-align: center;
	margin-top: 10px;
}

#winslosses {
	background: #00ffff;
	width: 80px;
	height: 120px;
	text-align: center;
}

img {
	height: 100px;
	width: 100px;
}

#totalscore {
	background: #00cc99;
	color: white;
	font-size: 18px;
	width: 240px;
	text-align: center;
	margin-bottom: 20px;
}

#currentscore {
	background: #00cc99;
	color: white;
	font-size: 35px;
	height: 120px;
	width: 240px;
	margin-bottom: 20px;
	text-align: center;
}

